<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.graction.developer.zoocaster">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.graction.developer.zoocaster.Activity.MainActivity"
            android:label="@string/app_name" />
        <activity android:name="com.graction.developer.zoocaster.Activity.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Receiver -->
        <receiver android:name="com.graction.developer.zoocaster.Receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="com.graction.developer.zoocaster.SINGLE_ALARM" />
                <action android:name="com.graction.developer.zoocaster.MULTI_ALARM" />
                <action android:name="com.graction.developer.zoocaster.ALARM_START" />
                <action android:name="android.intent.action.BOOT_COMPLETED" /> <!-- Starting a Service at Device Boot-->
            </intent-filter>
        </receiver>

        <!-- Service -->
        <service android:name="com.graction.developer.zoocaster.Service.AlarmService" />
        <service android:name="com.graction.developer.zoocaster.Service.AlarmStartService" />

        <!-- Google Map API KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCEJrAe1Go07xiXi5lykoOs74ewu-y-xEQ" />

        <activity
            android:name="com.graction.developer.zoocaster.Activity.AlarmActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.graction.developer.zoocaster.Activity.AddAlarmActivity" />
        <activity android:name="com.graction.developer.zoocaster.Activity.ModifyAlarmActivity" />
        <activity
            android:name="com.graction.developer.zoocaster.Activity.SearchAddressActivity"
            android:windowSoftInputMode="adjustPan|stateVisible" />
    </application>

</manifest>